/*
Color scheme
               body #FFE3E0
             header #DB4333
             footer #DB4333
                nav #FBC3BC
             center #F38375
               left #F38375
              right #F38375
before main content #FBC3BC
 after main content

*/

*{
    /* bare minimum padding & margin
     for literally every container element */
    padding: 10px;
    margin: 10px;
}
div{
    /* background-color: blue; */
    margin: 20px;
}

/* COLORS  */
.mainContent{
    background-color: #F38375;
}

footer, header{
    background-color: #DB4333 ;
}
body{
    background-color: #FFE3E0;
}
nav{
    background-color: #FBC3BC;
}
.leftSideContent, .rightSideContent{
    background-color: #ee4b35;
}
.after-main, .before-main{
    background-color: #FBC3BC;
}
.centerContent{
    background-color: #f3e4ddf6;
}
.navigate-links{
    color:black;
    text-decoration: none;
}
code{
    color: white;
    background-color: rgb(119, 78, 78);

    /* Padding and margin adjustments */
    padding:2px;
    margin:0px;
}
/* COLORS  */



/* widht and height adjustments */
.rightSideContent,.leftSideContent{
    width: 15%;
    height: 80%;
    min-height: 80%;
}
.centerContent {
    width: 65%;
    height: 80%;
}
ul{
    display: flex;
    justify-content: center;
}

.mainContent{
    /* display:flex; */
    /* flex-direction: column; */
    height: 80%;

    justify-content: center;
    gap:2.5%;
    text-align: justify;
}
.rightSideContent,.centerContent,.leftSideContent{
    display: inline-block;
}
